---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/hero.jpg') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{site.title}}</h1>
                <p>{{site.description}}</p>
            </div>
        </div>
    </div>
</div>
<!-- End Hero -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3>O nás</h3>

                <p>
                  Sme stavebná firma ktorá pôsobí na Slovenskom aj na zahraničnom trhu s množstvo
                  realizovaných zákaziek v oblasti rekonštrukcií a výstavby rodinných domov a bytov ako aj
                  administratívnych budov. Našou domenou je nadštandardná kvalita so zreteľom na konecneho
                  uzivatela.
                </p>

                <p>
                  Spolupracujeme s tímom projektantov a architektov. Zabezpečujeme dané dielo od projektovej
                  dokumentácie cez realizáciu až po užívacie povolenie.
                </p>

            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<div class="three-shade-col" id="contact">
  <div class="col-sm-6">
    <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
    <h3>Kontakt</h3>
    <ul>
      {% if site.contact.phone %}<li><strong>Telefón:</strong> {{ site.contact.phone }}</li>{% endif %}
      {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
    </ul>
  </div>
  <div class="col-sm-6">
    <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
    <h3>Lokácia</h3>
    <p>
      Pôsobime v oblasti Nitry
    </p>
  </div>
</div>


<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Ponuka služieb</h2>

        <div class="row">
          {% for treatment in site.data.treatments %}
            <div class="col-sm-6 col-md-4">
              <div class="icon-box">
                <!-- <i class="fa {{ treatment.icon }}"></i> -->
                <h4>{{ treatment.title }}</h4>
                <p>{{ treatment.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->



